<h2><%= @task.title %></h2>
<p><%= @task.details %></p>

<!-- How to edit tasks? -->
<a href="/tasks/edit"> Edit task </a>

<br>
<%= link_to "Delete #{@task.title}",
            task_path(@task),
            method: :delete,
            data: { confirm: "Are you sure?" } %>

<br>

<a href="/index"> Back to task list</a>
